



<h1>Login Your Account </h1>

<form [formGroup]='login' (ngSubmit)="collection()">
   
      <div class="form-group m-3">
        <label > Email</label>
        <input type="email" class="form-control"  placeholder="Enter Email" formControlName ="email" required>
        <small>User Mail Must be Valid</small>
    <div *ngIf ='login.controls.email.errors !=null && login.controls.email.touched' class="border border-danger p-2 m-2" >
        <p class="text-info">User Mail Not Valid </p>
    </div>
       
      </div>
      <div class="form-group m-3">
        <label > Password</label>
        <input type="text" class="form-control"  placeholder="Enter password" formControlName ="password">
       
      </div>
    <button type="submit" class="btn btn-primary m-2">Login</button>
  </form>

